#
# Copyright 2014, Broadcom Corporation
# All Rights Reserved.
#
# This is UNPUBLISHED PROPRIETARY SOURCE CODE of Broadcom Corporation;
# the contents of this file may not be disclosed to third parties, copied
# or duplicated in any form, in whole or in part, without the prior
# written permission of Broadcom Corporation.
#
init 
if {[using_jtag]} {
   global _TARGETNAME
    # assert both resets; equivalent to power-on reset
    jtag_reset 1 1
    sleep 1
    jtag_reset 0 1
    # Examine scanchain
    jtag arp_init
    $_TARGETNAME arp_examine
}

mww 0xE0042004 3
mww 0xE0042008 0xffffffff
reset halt
poll on